* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: "Inter", sans-serif;
}
h1 {
  margin: 20px;
}
form {
  margin: 40px 0 10px 20px;
}
form > div {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}
input {
  margin-bottom: 30px;
  width: 25vw;
  height: 25px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
#btn {
  width: 30vw;
  height: 35px;
  padding: 5px;
  border: none;
  background-color: white;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: scale 300ms ease-in-out;
}
#btn:hover {
  scale: 0.97;
}
.edit-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
}
#search {
  display: block;
  margin: 60px 0 40px 20px;
  width: 90%;
}
table {
  border-collapse: collapse;
  margin-left: 20px;
  width: 90%;
}
th,
td {
  padding: 5px;
  text-align: center;
}
#degree-box {
  display: flex;
  justify-content: space-between;
}

#degree-box img {
  margin-right: 20px;
  cursor: pointer;
}
#degree-box img:hover {
  opacity: 0.7;
}
.deleteSuccess {
  position: fixed;
  background-color: lightgreen;
  color: green;
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px;
  top: 30px;
  right: 15px;
}
.deleteFail {
  position: fixed;
  background-color: lightcoral;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  top: 30px;
  right: 15px;
}
